<div class="row">
  <div class="card text-white bg-primary mb-3 col-sm-2 w-meta-data text-center">
    <div class="card-body">
      <h5 class="card-title">Pressure</h5>
      <h3 class="card-title"><%= temparature['main']['pressure'] %></h3>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3 col-sm-2 w-meta-data text-center">
    <div class="card-body">
      <h5 class="card-title">Visibility</h5>
      <h3 class="card-title"><%= temparature['visibility'] %></h3>
    </div>
  </div>
  <div class="card text-white bg-success mb-3 col-sm-2 w-meta-data text-center">
    <div class="card-body">
      <h5 class="card-title">Humidity</h5>
      <h3 class="card-title"><%= temparature['main']['humidity'] %></h3>
    </div>
  </div> 
</div>